services:
  nginx:
    build: ./nginx
    container_name: virtual_vac_nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    restart: always

  frontend:
    build: ./frontend
    container_name: virtual_vac_frontend
    ports:
      - "3000:3000"
    restart: always

  backend:
    build: ./backend
    container_name: virtual_vac_backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    restart: always
